PORT=5000

MONGO_URI=mongodb+srv://bercead86_db_user:r1cAq8BnNYAcCXaO@cluster0.nhdlxrg.mongodb.net/moneyguard?retryWrites=true&w=majority

JWT_SECRET=money_guard_super_secret_change_this

CLIENT_URL=http://localhost:5173

NODE_ENV=development